.gradle/
.idea/
.cxx/
build/
build_ios/
local.properties
*.iml
.kotlin/
capture.png
build_wasm/
kotlin-js-store/
sample/web/src/wasmJsMain/resources/kioarch.js
sample/web/src/wasmJsMain/resources/kioarch.wasm
